# whitelist init (prohibit everything, allow all directories)
*
!*/

# prohibit virtual environment directories
*-env

# prohibit xml schema directory
schema

# prohibit message directory
messages

# allow gitignore
!.gitignore

# allow all python files
!**/*.py

# allow all xml files
!**/*.xml

# allow all xml schema files
!**/*.xsd

# allow readme
!readme.md