# whitelist init (prohibit everything, allow all directories)
*
!*/

# prohibit virtual environment directories
*env

# prohibit xml schema directory
schema

# prohibit message directory
messages

# allow gitignore
!.gitignore

# allow all python files
!**/*.py

# allow all xml files
!**/*.xml

# allow all xml schema files
!**/*.xsd

# allow readme
!readme.md

# allow test data for message generation
!message_generation/test_data/**/*.pdf
!message_generation/test_data/**/*.docx
!message_generation/test_data/**/*.html

# allow project executables
!message_generation/message_generator.exe
!randomize_process_id/randomize_process_id.exe

# allow message generator dependencies
!message_generation/requirements.txt